*.gml
*.pbf
TOOLS/osm-data/*-pois.geoparquet
OGD/Public_Transport/Verbund_Daten/*
OGD/Public_Transport/Verbund_Daten_work/*
*.log
*.tmp
*.temp
*.bak
*.part
*.partial
__pycache__/
.ipynb_checkpoints/
ANAL/data/routing/**/*.partial.parquet
ANAL/data/routing/**/*_sample.parquet
ANAL/data/routing/**/*_sample_parts/
ANAL/data/routing/**/accessibility_*_parts/


