*.gml
*.pbf
TOOLS/osm-data/*-pois.geoparquet
*.log
*.tmp
*.temp
*.bak
*.part
*.partial
__pycache__/
.ipynb_checkpoints/
ANAL/data/routing/**/*.partial.parquet
ANAL/data/routing/**/*_sample.parquet
ANAL/data/routing/**/*_sample_parts/
ANAL/data/routing/**/accessibility_potentials_100m_parts/
