duckdb>=1.0
folium>=0.17
geopandas>=1.0
contextily>=1.6
jupyter>=1.1
matplotlib>=3.9
numpy>=2.0
pandas>=2.2
pyarrow>=17.0
pyogrio>=0.9
pytest>=8.0
requests>=2.32
scipy>=1.14
shapely>=2.0
statsmodels>=0.14
tqdm>=4.66
